#body{
    margin: 1;
}

#top{
    height: 5%;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    background: #6c757d;
    margin-right: 7px;
    height: 50px;
}

#logo{
    padding-top: 15px;
    margin-left: 2%;
    font-size: 40px;
    width: 16%;
    font-weight: bold;
    font-family: Impact;
    float: left;
}

#options{
    float: left;
    padding-top: 7px;
    width: 100%;
}

li{
    width: 100%;
}

#btn{
    width: 100%;
}

#botao{
    color: red;
    width: 100%;
}

#login{
    
    float: right;
    padding-top: 8px;
    padding-right: 10px;
}

#Menu{
    height: 4%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    background-color: #6c757d;
}

a:link{
    color: white;
    text-decoration: none;
}

a:link:hover{
    color: #c8c8c8;
    text-decoration: none;
}

#opcao1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    float: left;
}





#left{
    width: 16.5%;
    height: 88%;
    margin-right: 10px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    background-color: #ebebeb;
    float: left;
}

#conteudo-left{
    margin: 10px;
    width: 90%;
    height: 90%;
}

#content{
    margin-left: 17.8%;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
}

#conteudo-content{
    margin: 10px;
    width: 98.5%;
    height: 90%;
}

#novo{
    padding-bottom: 25px;
}

#formVoltar{
    width: 100px;
    float: left;
    margin-top: -50px;
    margin-left: 48px;
}




